* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro W3', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: #fcfcfc;
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}

figure {
  margin: 0;
}

img,
object,
video {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  transition: 0.3s ease-out;
  text-decoration: none;
}

iframe {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  line-height: 1.5;
  margin: 0.5em 0;
}

.fa,
.fab,
.far,
.fas {
  letter-spacing: 2px;
}

.w-100 {
  width: 100%;
}

.min-w-100 {
  min-width: 100%;
}

.max-w-100 {
  max-width: 100%;
}

.h-100 {
  height: 100%;
}

.min-h-100 {
  min-height: 100%;
}

.max-h-100 {
  max-height: 100%;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.d-i-b {
  display: inline-block;
}

.d-t {
  display: table;
}

.d-f {
  display: flex;
}

[data-display="flex"] {
  display: flex;
}

.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

.t-0 {
  top: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}

.t-a-c {
  text-align: center;
}

.t-a-r {
  text-align: right;
}

.t-a-l {
  text-align: left;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.l-h-100 {
  line-height: 1;
}

.l-h-140 {
  line-height: 1.4;
}

.l-h-160 {
  line-height: 1.6;
}

.pa-0 {
  padding: 0px;
}

.pa-1 {
  padding: 4px;
}

.pa-2 {
  padding: 8px;
}

.pa-3 {
  padding: 16px;
}

.pa-4 {
  padding: 24px;
}

.pa-5 {
  padding: 48px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 16px;
}

.pt-4 {
  padding-top: 24px;
}

.pt-5 {
  padding-top: 48px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-1 {
  padding-right: 4px;
}

.pr-2 {
  padding-right: 8px;
}

.pr-3 {
  padding-right: 16px;
}

.pr-4 {
  padding-right: 24px;
}

.pr-5 {
  padding-right: 48px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: 4px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pb-3 {
  padding-bottom: 16px;
}

.pb-4 {
  padding-bottom: 24px;
}

.pb-5 {
  padding-bottom: 48px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-1 {
  padding-left: 4px;
}

.pl-2 {
  padding-left: 8px;
}

.pl-3 {
  padding-left: 16px;
}

.pl-4 {
  padding-left: 24px;
}

.pl-5 {
  padding-left: 48px;
}

.ma-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.ma-0 {
  margin: 0px;
}

.ma-1 {
  margin: 4px;
}

.ma-2 {
  margin: 8px;
}

.ma-3 {
  margin: 16px;
}

.ma-4 {
  margin: 24px;
}

.ma-5 {
  margin: 48px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 16px;
}

.mt-4 {
  margin-top: 24px;
}

.mt-5 {
  margin-top: 48px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 16px;
}

.mr-4 {
  margin-right: 24px;
}

.mr-5 {
  margin-right: 48px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 24px;
}

.mb-5 {
  margin-bottom: 48px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 16px;
}

.ml-4 {
  margin-left: 24px;
}

.ml-5 {
  margin-left: 48px;
}

.a-i-c {
  align-items: center;
}

.j-c-c {
  justify-content: center;
}

.j-c-f-e {
  justify-content: flex-end;
}

.f-d-r-r {
  flex-direction: row-reverse;
}

.f-d-c {
  flex-direction: column;
}

.f-w-w {
  flex-wrap: wrap;
}

[data-flex-wrap="wrap"] {
  flex-wrap: wrap;
}

.flex {
  flex: 1 1 auto;
}

.flex-1 {
  flex: 1;
}

.headline {
  font-size: 24px;
  font-weight: bold;
}

.title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --------------------------------------------------
/* max-480px BEGIN for portrait mobile phone
--------------------------------------------------- */
@media screen and (max-width: 479px) {
  .xs6 {
    flex: 0 1 50%;
  }
  .xs12 {
    flex: 0 1 100%;
  }
  /* max-480px END */
}

/* --------------------------------------------------
/* min-480px BEGIN for tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 480px) {
  .sm3 {
    flex: 0 1 25%;
  }
  .sm6 {
    flex: 0 1 50%;
  }
  .sm12 {
    flex: 0 1 100%;
  }
  /* min-480px END */
}

/* --------------------------------------------------
/* max-767px BEGIN for mobile phone
--------------------------------------------------- */
@media screen and (max-width: 767px) {
  .d-n-sm {
    display: none;
  }
  /* max-767px END */
}

/* --------------------------------------------------
/* min-768px BEGIN for tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 768px) {
  .md3 {
    flex: 0 1 25%;
  }
  .md6 {
    flex: 0 1 50%;
  }
  .md12 {
    flex: 0 1 100%;
  }
  .alignright {
    display: block;
    margin: 0 0 1.2em 1.2em;
    float: right;
  }
  .alignleft {
    display: block;
    margin: 0 1.2em 1.2em 0;
    float: left;
  }
  .d-n-md {
    display: none;
  }
  .alignwide {
    margin-left: -20px;
    width: calc(100% + 40px);
  }
  /* min-768px END */
}

/* --------------------------------------------------
/* max-1024px BEGIN for landscape tablet
--------------------------------------------------- */
@media screen and (max-width: 1024px) {
  /* max-1024px END */
}

/* --------------------------------------------------
/* min-1024px BEGIN for landscape tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 1024px) {
  .lg3 {
    flex: 0 1 25%;
  }
  .lg6 {
    flex: 0 1 50%;
  }
  .lg12 {
    flex: 0 1 100%;
  }
  /* min-1024px END */
}
