$space: 16px;
////////////////////////////
//////// element //////////
///////////////////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro W3', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: #fcfcfc;
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}

figure {
  margin: 0;
}

img,
object,
video {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  transition: 0.3s ease-out;
  text-decoration: none;

  // &:active,
  // &:focus,
  // &:hover {
  //   opacity: 0.5;
  //   -webkit-transition: 0s;
  //   transition: 0s;
  // }
}

iframe {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  line-height: 1.5;
  margin: 0.5em 0;
}
////////////////////////////
////////// コア ////////////
///////////////////////////

.fa,
.fab,
.far,
.fas {
  letter-spacing: 2px;
}
////////////////////////////
//////// width ////////////
///////////////////////////

.w-100 {
  width: 100%;
}

.min-w-100 {
  min-width: 100%;
}

.max-w-100 {
  max-width: 100%;
}
////////////////////////////
//////// height ////////////
///////////////////////////

.h-100 {
  height: 100%;
}

.min-h-100 {
  min-height: 100%;
}

.max-h-100 {
  max-height: 100%;
}
////////////////////////////
//////// display //////////
///////////////////////////

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.d-i-b {
  display: inline-block;
}

.d-t {
  display: table;
}

.d-f {
  display: flex;
}
///////////////////////////
//////// position /////////
///////////////////////////

.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

.t-0 {
  top: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}
////////////////////////////
////// text-align /////////
///////////////////////////

.t-a-c {
  text-align: center;
}

.t-a-r {
  text-align: right;
}

.t-a-l {
  text-align: left;
}
////////////////////////////
//////// float ////////////
///////////////////////////

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}
////////////////////////////
////// line-height /////////
///////////////////////////

.l-h-140 {
  line-height: 1.4; //140%
}

.l-h-160 {
  line-height: 1.6; //160%
}
////////////////////////////
//////// padding //////////
///////////////////////////

.pa-0 {
  padding: $space * 0;
}

.pa-1 {
  padding: $space * .25;
}

.pa-2 {
  padding: $space * .5;
}

.pa-3 {
  padding: $space;
}

.pa-4 {
  padding: $space * 1.5;
}

.pa-5 {
  padding: $space * 3;
}

.pt-0 {
  padding-top: $space * 0;
}

.pt-1 {
  padding-top: $space * .25;
}

.pt-2 {
  padding-top: $space * .5;
}

.pt-3 {
  padding-top: $space;
}

.pt-4 {
  padding-top: $space * 1.5;
}

.pt-5 {
  padding-top: $space * 3;
}

.pr-0 {
  padding-right: $space * 0;
}

.pr-1 {
  padding-right: $space * .25;
}

.pr-2 {
  padding-right: $space * .5;
}

.pr-3 {
  padding-right: $space;
}

.pr-4 {
  padding-right: $space * 1.5;
}

.pr-5 {
  padding-right: $space * 3;
}

.pb-0 {
  padding-bottom: $space * 0;
}

.pb-1 {
  padding-bottom: $space * .25;
}

.pb-2 {
  padding-bottom: $space * .5;
}

.pb-3 {
  padding-bottom: $space;
}

.pb-4 {
  padding-bottom: $space * 1.5;
}

.pb-5 {
  padding-bottom: $space * 3;
}

.pl-0 {
  padding-left: $space * 0;
}

.pl-1 {
  padding-left: $space * .25;
}

.pl-2 {
  padding-left: $space * .5;
}

.pl-3 {
  padding-left: $space;
}

.pl-4 {
  padding-left: $space * 1.5;
}

.pl-5 {
  padding-left: $space * 3;
}
////////////////////////////
//////// margin //////////
///////////////////////////

.ma-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.ma-0 {
  margin: $space * 0;
}

.ma-1 {
  margin: $space * .25;
}

.ma-2 {
  margin: $space * .5;
}

.ma-3 {
  margin: $space;
}

.ma-4 {
  margin: $space * 1.5;
}

.ma-5 {
  margin: $space * 3;
}

.mt-0 {
  margin-top: $space * 0;
}

.mt-1 {
  margin-top: $space * .25;
}

.mt-2 {
  margin-top: $space * .5;
}

.mt-3 {
  margin-top: $space;
}

.mt-4 {
  margin-top: $space * 1.5;
}

.mt-5 {
  margin-top: $space * 3;
}

.mr-0 {
  margin-right: $space * 0;
}

.mr-1 {
  margin-right: $space * .25;
}

.mr-2 {
  margin-right: $space * .5;
}

.mr-3 {
  margin-right: $space;
}

.mr-4 {
  margin-right: $space * 1.5;
}

.mr-5 {
  margin-right: $space * 3;
}

.mb-0 {
  margin-bottom: $space * 0;
}

.mb-1 {
  margin-bottom: $space * .25;
}

.mb-2 {
  margin-bottom: $space * .5;
}

.mb-3 {
  margin-bottom: $space;
}

.mb-4 {
  margin-bottom: $space * 1.5;
}

.mb-5 {
  margin-bottom: $space * 3;
}

.ml-0 {
  margin-left: $space * 0;
}

.ml-1 {
  margin-left: $space * .25;
}

.ml-2 {
  margin-left: $space * .5;
}

.ml-3 {
  margin-left: $space;
}

.ml-4 {
  margin-left: $space * 1.5;
}

.ml-5 {
  margin-left: $space * 3;
}
////////////////////////////
//////// flex /////////////
///////////////////////////

.a-i-c {
  align-items: center;
}

.j-c-s-b {
  justify-content: space-between;
}

.j-c-c {
  justify-content: center;
}

.j-c-f-e {
  justify-content: flex-end;
}

.f-d-r-r {
  flex-direction: row-reverse;
}

.f-d-c {
  flex-direction: column;
}

.f-w-w {
  flex-wrap: wrap;
}

.flex {
  flex: 1 1 auto;
}

////////////////////////////
///////// font ////////////
///////////////////////////

.headline {
  font-size: 24px;
  font-weight: bold;
}

.title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --------------------------------------------------
/* max-480px BEGIN for portrait mobile phone
--------------------------------------------------- */
@media screen and (max-width: 479px) {
  .xs6 {
    flex: 0 1 50%;
  }
  .xs12 {
    flex: 0 1 100%;
  }
  /* max-480px END */
}
/* --------------------------------------------------
/* min-480px BEGIN for tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 480px) {
  .sm3 {
    flex: 0 1 25%;
  }
  .sm6 {
    flex: 0 1 50%;
  }
  .sm12 {
    flex: 0 1 100%;
  }
  /* min-480px END */
}
/* --------------------------------------------------
/* max-767px BEGIN for mobile phone
--------------------------------------------------- */
@media screen and (max-width: 767px) {
  #main,
  html {
    overflow-x: hidden;
  }

  .d-n-sm {
    display: none;
  }

  .ad {
    flex-basis: 100%;

    &:nth-child(2) {
      margin-top: 1em;
    }
  }

  #next-post,
  #prev-post {
    flex-basis: 100%;
  }

  #slide-menu {
    top: 0;
    right: 0;
    padding: 10px 10px 60px;
    background-color: #fcfcfc;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    position: fixed;
    width: 85%;
    z-index: 20;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;

    .amp-adsense,
    .widget_ad_widget,
    amp-ad[type="adsense"],
    ins.adsbygoogle {
      display: none !important;
    }
  }
  /* max-767px END */
}
/* --------------------------------------------------
/* min-768px BEGIN for tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 768px) {
  .md3 {
    flex: 0 1 25%;
  }
  .md6 {
    flex: 0 1 50%;
  }
  .md12 {
    flex: 0 1 100%;
  }
  .alignright {
    display: block;
    margin: 0 0 1.2em 1.2em;
    float: right;
  }

  .alignleft {
    display: block;
    margin: 0 1.2em 1.2em 0;
    float: left;
  }

  .d-n-md {
    display: none;
  }

  .double-rectangle-wrapper .ad {
    -ms-flex-preferred-size: calc(50% - 1em);
    flex-basis: calc(50% - 1em);
    max-width: 336px;
    min-height: 280px;
    height: auto;
  }

  .max-width-half-pc {
    max-width: 50%;
  }

  .alignwide {
    margin-left: -20px;
    width: calc(100% + 40px);
  }
  /* min-768px END */
}
/* --------------------------------------------------
/* max-1024px BEGIN for landscape tablet
--------------------------------------------------- */
@media screen and (max-width: 1024px) {
  #header-image,
  .container,
  .inner {
    max-width: 980px !important;
  }
  .container {
    flex-direction: column;
  }
  /* max-1024px END */
}
/* --------------------------------------------------
/* min-1024px BEGIN for landscape tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 1024px) {
  .lg3 {
    flex: 0 1 25%;
  }
  .lg6 {
    flex: 0 1 50%;
  }
  .lg12 {
    flex: 0 1 100%;
  }
  #sidebar {
    width: 320px;
    margin: 0 0 0 20px;
    padding: 0;
  }

  #scroll-sidebar {
    position: -webkit-sticky;
    top: 20px;
    position: sticky;
  }

  .right-content #sidebar {
    margin: 0 20px 0 0;
  }

  .left-content #contents-wrapper,
  .right-content #contents-wrapper {
    width: calc(100% - 320px);
  }

  .right-content .container {
    flex-flow: row-reverse;
  }
  /* min-1024px END */
}
