#contents-wrapper {
  padding: 24px;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.scroll-container {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.sctoll-content {
  white-space: nowrap;
}

.leftbutton [data-button="floating"],
.rightbutton [data-button="floating"] {
  cursor: pointer;
}

.t-50 {
  top: 50%;
}

.alignfull {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  width: auto;
  max-width: none;
}

#h1 {
  font-size: 30px;
  line-height: 1.4;
  font-weight: 500;
}

.section-break {
  opacity: 0.2;
}

[data-text="ellipsis"] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.children {
  padding-left: 30px;
  width: 100%;
}

[data-button="floating"],
.f-button {
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.l-f-button {
  width: 84px;
  height: 84px;
}

[data-button="submit"],
#submit {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;
  text-decoration: none;
}

[data-button="submit"]::before,
#submit::before {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

[data-button="submit"]:focus::before,
#submit:focus::before {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 0;
  width: 160px;
  height: 160px;
  margin-top: -80px;
  margin-left: -80px;
}

.widget-4536 iframe,
.widget-4536 img {
  display: block;
  margin: 0 auto;
}

.widget-4536:not(.widget-style-box-4536) .ad {
  width: 100%;
}

#header-container {
  max-width: 2048px;
}

.header-logo {
  max-height: 48px;
}

.global-nav {
  z-index: 5;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.global-nav .menu-item {
  margin-right: 16px;
  position: relative;
}

.global-nav .menu-item:last-child {
  margin-right: 0;
}

.global-nav .menu-item a {
  opacity: 0.8;
}

.global-nav .menu-item a[aria-current="page"] {
  opacity: 1;
  font-size: 110%;
  border-bottom: 4px solid;
  padding-bottom: 8px;
}

.global-nav .sub-menu {
  display: none;
}

#header-slide-button {
  margin-left: auto;
}

.fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0 1px 10px;
  z-index: 5;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.meta {
  letter-spacing: 0.5px;
  font-size: 0.8em;
  opacity: 0.5;
}

.post-list-thumbnail img {
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.card-wrap {
  max-width: 400px;
}

.card {
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

.card .date {
  top: 5%;
  right: 5%;
}

.card .post-list-thumbnail img {
  border-radius: 5px 5px 0 0;
}

.card .card-meta {
  border-top: 1px solid #ccc;
  font-size: 12px;
}

.author-content {
  border-radius: 5px;
}

.author-avatar {
  left: 50%;
  box-shadow: 0 2px 5px;
  margin: -40px 0 0 -40px;
  border-radius: 50%;
  overflow: hidden;
}

/* --------------------------------------------------
/* max-480px BEGIN for portrait mobile phone
--------------------------------------------------- */
@media screen and (max-width: 479px) {
  /* max-480px END */
}

/* --------------------------------------------------
/* min-480px BEGIN for tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 480px) {
  /* min-480px END */
}

/* --------------------------------------------------
/* max-767px BEGIN for mobile phone
--------------------------------------------------- */
@media screen and (max-width: 767px) {
  .alignwide {
    margin-left: -10px;
    width: calc(100% + 20px);
    max-width: none;
  }
  #main,
  html {
    overflow-x: hidden;
  }
  .ad {
    flex-basis: 100%;
  }
  .ad:nth-child(2) {
    margin-top: 1em;
  }
  #slide-menu {
    padding: 10px 10px 60px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    position: fixed;
    width: 85%;
    z-index: 20;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
  #slide-menu .amp-adsense,
  #slide-menu .widget_ad_widget,
  #slide-menu amp-ad[type="adsense"],
  #slide-menu ins.adsbygoogle {
    display: none !important;
  }
  .close-button {
    display: -webkit-box;
    display: flex;
  }
  #page-links [data-button="floating"],
  #pagination [data-button="floating"] {
    width: 46px;
    height: 46px;
  }
  .fixed-footer {
    display: -webkit-box;
    display: flex;
    position: fixed;
    padding-bottom: calc(env(safe-area-inset-bottom) - 1em);
    z-index: 3;
  }
  /* max-767px END */
}

/* --------------------------------------------------
/* min-768px BEGIN for tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 768px) {
  .alignwide {
    margin-left: -20px;
    width: calc(100% + 40px);
  }
  .double-rectangle-wrapper .ad {
    flex-basis: calc(50% - 1em);
    max-width: 336px;
    min-height: 280px;
    height: auto;
  }
  .double-rectangle-wrapper .ad-left {
    margin: 0 1em 0 0;
  }
  /* min-768px END */
}

/* --------------------------------------------------
/* max-1024px BEGIN for landscape tablet
--------------------------------------------------- */
@media screen and (max-width: 1024px) {
  #header-image,
  .container,
  .inner {
    max-width: 980px !important;
  }
  /* max-1024px END */
}

/* --------------------------------------------------
/* min-1024px BEGIN for landscape tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 1024px) {
  #header-nav {
    overflow-x: inherit;
  }
  #header-nav .menu-item-has-children {
    display: -webkit-box;
    display: flex;
  }
  #header-nav .menu-item-has-children::after {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJ3aGl0ZSI+PHBhdGggZD0iTTcgMTBsNSA1IDUtNXoiLz48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+");
  }
  #header-nav .menu-item-has-children:hover .sub-menu {
    width: 100%;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    white-space: normal;
  }
  #header-nav .menu-item-has-children:hover .sub-menu .menu-item {
    width: 100%;
  }
  #header-nav .menu-item-has-children:hover .sub-menu a {
    display: block;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 8px;
  }
  #sidebar {
    width: 320px;
    border-left: 0.5px solid;
  }
  #scroll-sidebar {
    position: -webkit-sticky;
    top: 20px;
    position: sticky;
  }
  .right-content #sidebar {
    border-right: 0.5px solid;
    border-left: none;
  }
  .right-content #main-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
  }
  .left-content #contents-wrapper,
  .right-content #contents-wrapper {
    width: calc(100% - 320px);
  }
  /* min-1024px END */
}
