/////////////////////////////
////////// dev /////////////
////////////////////////////
#contents-wrapper {
  padding: 24px;
}

////////////////////////////
////////// init ////////////
////////////////////////////

.alignwide {
  margin-left: -10px;
  width: calc(100% + 20px);
  max-width: none;
}

.alignfull {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  width: auto;
  max-width: none;
}

.scroll-content {
  white-space: nowrap;
}

#h1 {
  font-size: 30px;
  line-height: 1.4;
  font-weight: 500;
}

.section-break {
  opacity: 0.2;
}

[data-text="ellipsis"] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.children {
  padding-left: 30px;
  width: 100%;
}

//////////////////////////////////////////////////////////////////
/////// button    ///////////////////////////////////////////////
/////// reference: https://materializecss.com/buttons.html ///////
/////////////////////////////////////////////////////////////////
$button_base_size: 56px;

[data-button="floating"],.f-button {
  width: $button_base_size;
  height: $button_base_size;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-f-button {
  width: $button_base_size * 1.5;
  height: $button_base_size * 1.5;
}
//参考： https://codepen.io/john052/pen/qdRapO

[data-button="submit"],#submit {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  border: none;

  &::before {
    border-radius: 50%;
    background-color: rgba(255,255,255,0.6);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }

  &:focus::before {
    transition: all 0.5s ease-out;
    opacity: 0;
    width: 160px;
    height: 160px;
    margin-top: -80px;
    margin-left: -80px;
  }
}
/////////////////////////////////
//////////// widget ////////////
////////////////////////////////

.widget-4536 {
  iframe,
  img {
    display: block;
    margin: 0 auto;
  }

  &:not(.widget-style-box-4536) .ad {
    width: 100%;
  }
}

/////////////////////////////////
//////////// header ////////////
////////////////////////////////

#header {
  .inner {
    overflow: visible;
  }

  .header-logo {
    max-height: 48px;
  }
}

.nav-menu {
  li {
    margin-right: 1.5em;
    list-style-type: none;
    display: inline-table;
    margin: 0;
    position: relative;

    &:last-child {
      margin: 0;
    }
  }

  #below-header-nav-menu li {
    padding: 5px 0;
  }

  .nav-menu .current-menu-item a {
    opacity: 0.5;
  }

  .sub-menu {
    display: none;
  }
}

#header,
.nav-menu {
  z-index: 5;
  transition: 0.5s ease;
}
/////////////////////////////////
//////////// meta ////////////
////////////////////////////////

.meta {
  letter-spacing: 0.5px;
  font-size: 0.8em;
  opacity: 0.5;
}
/////////////////////////////////
////////// thumbnail ///////////
////////////////////////////////

.post-thumbnail-image {
  object-fit: cover;
}
/////////////////////////////////
//////////// card ////////////
////////////////////////////////

.card-wrap {
  max-width: 400px;
}
.card {
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;

  .date {
    top: 5%;
    right: 5%;
  }

  .card-meta {
    border-top: 1px solid #ccc;
    font-size: 12px;
  }

  .post-thumbnail-image {
    border-radius: 5px 5px 0 0;
  }
}

/* --------------------------------------------------
/* max-480px BEGIN for portrait mobile phone
--------------------------------------------------- */
@media screen and (max-width: 479px) {
  /* max-480px END */
}
/* --------------------------------------------------
/* min-480px BEGIN for tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 480px) {
  /* min-480px END */
}
/* --------------------------------------------------
/* max-767px BEGIN for mobile phone
--------------------------------------------------- */
@media screen and (max-width: 767px) {
  #main,
  html {
    overflow-x: hidden;
  }

  .ad {
    flex-basis: 100%;

    &:nth-child(2) {
      margin-top: 1em;
    }
  }

  #slide-menu {
    top: 0;
    right: 0;
    padding: 10px 10px 60px;
    background-color: #fcfcfc;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    position: fixed;
    width: 85%;
    z-index: 20;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;

    .amp-adsense,
    .widget_ad_widget,
    amp-ad[type="adsense"],
    ins.adsbygoogle {
      display: none !important;
    }
  }
  /* max-767px END */
}
/* --------------------------------------------------
/* min-768px BEGIN for tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 768px) {

  .double-rectangle-wrapper .ad {
    flex-basis: calc(50% - 1em);
    max-width: 336px;
    min-height: 280px;
    height: auto;
  }

  /* min-768px END */
}
/* --------------------------------------------------
/* max-1024px BEGIN for landscape tablet
--------------------------------------------------- */
@media screen and (max-width: 1024px) {
  #header-image,
  .container,
  .inner {
    max-width: 980px !important;
  }
  /* max-1024px END */
}
/* --------------------------------------------------
/* min-1024px BEGIN for landscape tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 1024px) {

  #sidebar {
    width: 320px;
    border-left: .5px solid;
    flex: 1;

    #scroll-sidebar {
      position: -webkit-sticky;
      top: 20px;
      position: sticky;
    }
  }

  .right-content {
    #sidebar {
      border-right: .5px solid;
      border-left: none;
    }
    #main-container {
      flex-direction: row-reverse;
    }
  }

  .left-content #contents-wrapper,
  .right-content #contents-wrapper {
    width: calc(100% - 320px);
  }

  /* min-1024px END */
}
