@charset "UTF-8";
.scroll-content {
  white-space: nowrap;
}

.thumbnail {
  width: 100px;
  height: 100px;
}

.thumbnail-wide {
  width: 100px;
  height: 75px;
}

.alignwide {
  margin-left: -10px;
  width: calc(100% + 20px);
  max-width: none;
}

.alignfull {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  width: auto;
  max-width: none;
}

.f-button {
  width: 56px;
  height: 56px;
  line-height: 56px;
  padding: 0;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: 0.3s ease-out;
}

.widget-4536 iframe,
.widget-4536 img {
  display: block;
  margin: 0 auto;
}

.widget-4536:not(.widget-style-box-4536) .ad {
  width: 100%;
}

#header .inner {
  overflow: visible;
}

#header .header-logo {
  max-height: 48px;
}

.nav-menu li {
  margin-right: 1.5em;
  list-style-type: none;
  display: inline-table;
  margin: 0;
  position: relative;
}

.nav-menu li:last-child {
  margin: 0;
}

.nav-menu #below-header-nav-menu li {
  padding: 5px 0;
}

.nav-menu .nav-menu .current-menu-item a {
  opacity: 0.5;
}

.nav-menu .sub-menu {
  display: none;
}

#header,
.nav-menu {
  z-index: 5;
  transition: 0.5s ease;
}

.post-date {
  letter-spacing: 0.2px;
  margin: 1em 0;
  font-size: 0.8em;
  text-align: right;
  opacity: 0.5;
}

.article-body h2, .article-body h3, .article-body h4, .article-body h5 {
  position: relative;
  margin: 2em auto;
  line-height: 1.4;
  clear: both;
}

.article-body p {
  line-height: 1.6;
  margin-bottom: 2em;
}

.article-body p a:not(.wp-embed-heading) {
  text-decoration: underline;
}

.article-body ol, .article-body ul:not(.wp-block-gallery):not(.outline-wrap) {
  padding-left: 1.5em;
  margin-bottom: 2em;
}

.article-body blockquote:not(.external-website-embed-content) {
  border-left: 3px solid;
  background-color: #fcfcfc;
}

.article-body table {
  margin-bottom: 2em;
  width: 100%;
  border-collapse: collapse;
}

.article-body table td, .article-body table th {
  padding: 1em 0.5em;
  border: 1px #999 solid;
  font-size: 90%;
  line-height: 1.6;
}

.fade-in {
  -webkit-animation: fadeIn 0.8s ease 0s 1 normal;
  animation: fadeIn 0.8s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------------------------------------------------
/* max-480px BEGIN for portrait mobile phone
--------------------------------------------------- */
@media screen and (max-width: 479px) {
  /* max-480px END */
}

/* --------------------------------------------------
/* min-480px BEGIN for tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 480px) {
  /* min-480px END */
}

/* --------------------------------------------------
/* max-767px BEGIN for mobile phone
--------------------------------------------------- */
@media screen and (max-width: 767px) {
  #main,
  html {
    overflow-x: hidden;
  }
  .d-n-mobile {
    display: none;
  }
  .ad {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ad:nth-child(2) {
    margin-top: 1em;
  }
  .list-big {
    margin-top: 2em;
    display: block;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: none;
  }
  .list-big a {
    padding: 0;
  }
  .list-big:last-child {
    margin-bottom: 0;
  }
  .list-big .post-info {
    padding: 0.8em;
  }
  .list-big .post-list-thumbnail {
    width: 100%;
    height: auto;
  }
  .list-big .thumbnail {
    padding-top: 100%;
  }
  .list-big .thumbnail-wide {
    padding-top: 75%;
  }
  #next-post,
  #prev-post {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  #slide-menu {
    top: 0;
    right: 0;
    padding: 10px 10px 60px;
    background-color: #fcfcfc;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    position: fixed;
    width: 85%;
    z-index: 20;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
  #slide-menu .amp-adsense,
  #slide-menu .widget_ad_widget,
  #slide-menu amp-ad[type="adsense"],
  #slide-menu ins.adsbygoogle {
    display: none !important;
  }
  /* max-767px END */
}

/* --------------------------------------------------
/* min-768px BEGIN for tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 768px) {
  .alignright {
    display: block;
    margin: 0 0 1.2em 1.2em;
    float: right;
  }
  .alignleft {
    display: block;
    margin: 0 1.2em 1.2em 0;
    float: left;
  }
  .d-n-pc {
    display: none;
  }
  .thumbnail:not(.thumbnail-widget-4536) {
    width: 150px;
    height: 150px;
  }
  .thumbnail-wide:not(.thumbnail-widget-4536) {
    width: 150px;
    height: 113px;
  }
  /* リストスタイル */
  .list-2-5,
  .list-3-3,
  .list-4-2 {
    border: none;
  }
  .list-2-5 a,
  .list-3-3 a,
  .list-4-2 a {
    padding: 0;
  }
  .list-2-5 {
    -ms-flex-preferred-size: calc(100%/2 - 10px);
    flex-basis: calc(100%/2 - 10px);
    margin-top: 20px;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    border: none;
  }
  .list-2-5:nth-child(even) {
    margin-left: 20px;
  }
  .list-3-3 {
    -ms-flex-preferred-size: calc(100%/3 - 40px/3);
    flex-basis: calc(100%/3 - 40px/3);
    margin: 20px 20px 0 0;
  }
  .list-3-3:nth-child(3n),
  .list-4-2:nth-child(4n) {
    margin-right: 0;
  }
  .list-4-2 {
    -ms-flex-preferred-size: calc(100%/4 - 60px/4);
    flex-basis: calc(100%/4 - 60px/4);
    margin: 20px 20px 0 0;
  }
  .list-2-5 .post-list-thumbnail,
  .list-3-3 .post-list-thumbnail,
  .list-4-2 .post-list-thumbnail {
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
  }
  .list-2-5 .post-info {
    padding: 0.8em;
  }
  .list-3-3 .post-info,
  .list-4-2 .post-info {
    padding-top: 0.8em;
  }
  .list-2-5 .thumbnail,
  .list-3-3 .thumbnail,
  .list-4-2 .thumbnail {
    padding-top: 100%;
  }
  .list-2-5 .thumbnail-wide,
  .list-3-3 .thumbnail-wide,
  .list-4-2 .thumbnail-wide {
    padding-top: 75%;
  }
  .double-rectangle-wrapper .ad {
    -ms-flex-preferred-size: calc(50% - 1em);
    flex-basis: calc(50% - 1em);
    max-width: 336px;
    min-height: 280px;
    height: auto;
  }
  .padding-wrap-main-4536 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .max-width-half-pc {
    max-width: 50%;
  }
  .alignwide {
    margin-left: -20px;
    width: calc(100% + 40px);
  }
  /* min-768px END */
}

/* --------------------------------------------------
/* max-1024px BEGIN for landscape tablet
--------------------------------------------------- */
@media screen and (max-width: 1024px) {
  #header-image,
  #wrapper,
  .inner {
    max-width: 980px !important;
  }
  /* max-1024px END */
}

/* --------------------------------------------------
/* min-1024px BEGIN for landscape tablet and pc
--------------------------------------------------- */
@media screen and (min-width: 1024px) {
  #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1.5em auto;
  }
  #sidebar {
    width: 320px;
    margin: 0 0 0 20px;
    padding: 0;
  }
  #scroll-sidebar {
    position: -webkit-sticky;
    top: 20px;
    position: sticky;
  }
  .right-content #sidebar {
    margin: 0 20px 0 0;
  }
  .left-content #contents-wrapper,
  .right-content #contents-wrapper {
    width: calc(100% - 320px);
  }
  .right-content #wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse;
    flex-flow: row-reverse;
  }
  /* min-1024px END */
}
